<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <h1>All our Flats (<%= @flats.count %>)</h1>
    </div>
  </div>

<div class="card-container">

    <% @flats.each_with_index do |flat, index| %>
    <div class="card-product">

      <div class="flat-info">
        <h4><%= flat.name %></h4>
        <p><%= flat.address %></p>
        <div class="flex">
          <p><i class="fas fa-coins mr-2"></i> <%= flat.price_per_night   %>
          <i class="fas fa-user-friends mr-2 ml-4"></i> <%= flat.number_of_guests %></p>
        </div>
      </div>

      <div class="flat-action">
        <%= link_to 'More info', flat_path(flat), class: 'more-info-button mr-2' %>
        <%= link_to '', edit_flat_path(flat), class: 'fas fa-pen' %>
        <%= link_to '', flats_path(flat), class: 'fas fa-trash'  %>
      </div>

    </div>
    <% end %>

</div>

</div>
