<div class="show-banner" style="background-image: url('<%= @flat.picture %>')"></div>

<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="flat-show-container">
        <h2><%= @flat.name %></h2>
        <p class="flat-show-address"><%= @flat.address %></p>
      </div>

      <div class="flat-show-container">
        <h3>A bit more about this flat...</h3>
        <p><%= @flat.description %></p>
        <!-- <div class="map" style="background-image: url('https://maps.googleapis.com/maps/api/staticmap?center=<%= @flat.address %>&zoom=13&scale=2&size=1000x1000&maptype=roadmap&markers=color:red%7C<%= @flat.address %>&key=AIzaSyBtaHK-BLhBg7TruJu8iKk_wETqZMJM-GY')"></div> -->
      </div>

      <div class="flat-show-container">
          <h3>Some more details...</h3>
          <p><i class="fas fa-coins mr-2"></i> <%= @flat.price_per_night   %>
          <i class="fas fa-user-friends mr-2 ml-4"></i> <%= @flat.number_of_guests %></p>
      </div>

    </div>
  </div>
</div>
